<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item" ><a class="nav-link" routerLink="card">CardNavigate</a></li>
      <li class="nav-item" ><a class="nav-link" routerLink="list">ListCheckNavigate</a></li>
      <li class="nav-item" ><a class="nav-link" (click)="navigateToCards()">CardNavigateByClick</a></li>
      <li class="nav-item" ><a class="nav-link" (click)="navigateToLists()">ListCheckNavigateByClick</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>